
<footer class="container-fluid">
    <div class="container">
      <h5>@Majnaric Goran</h5>
      
      <div class="position-relative text-center">
          <i class="fa-brands fa-facebook fa-xl socialIcon"></i>
          <i class="fa-brands fa-twitter fa-xl socialIcon"></i>
          <i class="fa-brands fa-instagram fa-xl socialIcon"></i>
          <i class="fa-brands fa-linkedin fa-xl socialIcon"></i>
      </div>
    
    </div>
    
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="../../assets/js/jquery.js"></script>
</body>
</html>