<!-- Side Navigation Bar of the webpage displaying Categories, only on home page -->

<div
  class="d-flex flex-column bd-highlight mt-5 col-12 float-start border border-left-0 navCategory"
>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <a class="navbar-brand" href="#"
      >Categories <i class="fa-solid fa-arrow-down"></i
    ></a>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <a href="http://localhost:3000/fantasy"
      ><div
        class="p-2 bd-highlight categoryArts categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Fantasy
      </div></a
    >

    <a href="http://localhost:3000/fiction"
      ><div
        class="p-2 bd-highlight categoryAnimals categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Fiction
      </div></a
    >

    <a href="http://localhost:3000/history"
      ><div
        class="p-2 bd-highlight categoryFantasy categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        History
      </div></a
    >

    <a href="http://localhost:3000/adult"
      ><div
        class="p-2 bd-highlight categoryHorror categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Adult
      </div></a
    >

    <a href="http://localhost:3000/war"
      ><div
        class="p-2 bd-highlight categoryHumor categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        War
      </div></a
    >

    <a href="http://localhost:3000/childrens"
      ><div
        class="p-2 bd-highlight categoryMystery categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Childrens
      </div></a
    >

    <a href="http://localhost:3000/romance"
      ><div
        class="p-2 bd-highlight categoryRomance categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Romance
      </div></a
    >

    <a href="http://localhost:3000/contemporary"
      ><div
        class="p-2 bd-highlight categorySF categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Contemporary
      </div></a
    >

    <a href="http://localhost:3000/biography"
      ><div
        class="p-2 bd-highlight categoryThriller categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Biography
      </div></a
    >

    <a href="http://localhost:3000/nonfiction"
      ><div
        class="p-2 bd-highlight categoryProgramming categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Nonfiction
      </div></a
    >

    <a href="http://localhost:3000/classics"
      ><div
        class="p-2 bd-highlight categoryChildren categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Classics
      </div></a
    >

    <a href="http://localhost:3000/sciencefiction"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Science Fiction
      </div></a
    >

    <a href="http://localhost:3000/novels"
      ><div
        class="p-2 bd-highlight categoryBio categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Novels
      </div></a
    >

    <a href="http://localhost:3000/humor"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Humor
      </div></a
    >

    <a href="http://localhost:3000/philosophy"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Philosophy
      </div></a
    >

    <a href="http://localhost:3000/psihology"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Psihology
      </div></a
    >

    <a href="http://localhost:3000/selfhelp"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Self-Help
      </div></a
    >

    <a href="http://localhost:3000/science"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Science
      </div></a
    >

    <a href="http://localhost:3000/adventure"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Adventure
      </div></a
    >

    <a href="http://localhost:3000/mistery"
      ><div
        class="p-2 bd-highlight categoryHistory categoryModalLink"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Mistery
      </div></a
    >
  </div>
</div>
