<div class="d-flex flex-column bd-highlight mt-5 col-2 float-start border border-left-0 navCategory">
          
    <!-- Arts trigger Modal -->
<a href="http://localhost:3000/fantasy"><div class="p-2 bd-highlight categoryArts categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Fantasy
</div></a>

<!-- Arts Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body categoryModalBody">

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>


<!-- Animals trigger Modal -->
<a href="http://localhost:3000/fiction"><div class="p-2 bd-highlight categoryAnimals categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Fiction
</div></a>

<!-- Animals Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body categoryModalBody">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>


    <!-- Fantasy trigger Modal -->
<a href="http://localhost:3000/history"><div class="p-2 bd-highlight categoryFantasy categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
History
</div></a>

<!-- Fantasy Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>


    <!-- Horror trigger Modal -->
<a href="http://localhost:3000/adult"><div class="p-2 bd-highlight categoryHorror categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Adult
</div></a>

<!-- Horror Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Humor trigger Modal -->
<a href="http://localhost:3000/war"><div class="p-2 bd-highlight categoryHumor categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
War
</div></a>

<!-- Humor Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Mystery trigger Modal -->
<a href="http://localhost:3000/childrens"><div class="p-2 bd-highlight categoryMystery categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Childrens
</div></a>

<!-- Mystery Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Romance trigger Modal -->
<a href="http://localhost:3000/romance"><div class="p-2 bd-highlight categoryRomance categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Romance
</div></a>

<!-- Romance Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Science Fiction trigger Modal -->
<a href="http://localhost:3000/contemporary"><div class="p-2 bd-highlight categorySF categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Contemporary
</div></a>

<!-- Science Fiction Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Thriller trigger Modal -->
<a href="http://localhost:3000/biography"><div class="p-2 bd-highlight categoryThriller categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Biography
</div></a>

<!-- Thriller Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Programming trigger Modal -->
<a href="http://localhost:3000/nonfiction"><div class="p-2 bd-highlight categoryProgramming categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Nonfiction
</div></a>

<!-- Programming Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>


    <!-- Children's trigger Modal -->
<a href="http://localhost:3000/classics"><div class="p-2 bd-highlight categoryChildren categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Classics
</div></a>

<!-- Children's Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- History trigger Modal -->
<a href="http://localhost:3000/sciencefiction"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Science Fiction
</div></a>

<!-- History Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

    <!-- Biography trigger Modal -->
<a href="http://localhost:3000/novels"><div class="p-2 bd-highlight categoryBio categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
Novels
</div></a>

<!-- Biography Modal -->
<div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    ...
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
</div>
</div>

  <!-- History trigger Modal -->
  <a href="http://localhost:3000/humor"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Humor
    </div></a>
    
    <!-- History Modal -->
    <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
    </div>
    </div>

      <!-- History trigger Modal -->
<a href="http://localhost:3000/philosophy"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Philosophy
  </div></a>
  
  <!-- History Modal -->
  <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>

    <!-- History trigger Modal -->
<a href="http://localhost:3000/psihology"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Psihology
  </div></a>
  
  <!-- History Modal -->
  <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>

    <!-- History trigger Modal -->
<a href="http://localhost:3000/selfhelp"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Self-Help
  </div></a>
  
  <!-- History Modal -->
  <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>

    <!-- History trigger Modal -->
<a href="http://localhost:3000/science"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Science
  </div></a>
  
  <!-- History Modal -->
  <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>

    <!-- History trigger Modal -->
<a href="http://localhost:3000/adventure"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Adventure
  </div></a>
  
  <!-- History Modal -->
  <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>

    <!-- History trigger Modal -->
<a href="http://localhost:3000/mistery"><div class="p-2 bd-highlight categoryHistory categoryModalLink" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Mistery
  </div></a>
  
  <!-- History Modal -->
  <div class="modal fade categoryModal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    </div>
  </div>
  </div>
  </div>


</div>


