<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <h1>The Home Page</h1>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa ea esse enim optio blanditiis id omnis rerum, ullam quidem quos eius aspernatur quae sit inventore. Recusandae hic eius doloremque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro aperiam distinctio eligendi? Ipsa excepturi optio natus illum ullam obcaecati est amet quam corporis vero placeat deserunt, reprehenderit doloremque ea praesentium. Ipsa modi voluptatum ipsam veniam reprehenderit blanditiis magnam architecto, quisquam, sed vel alias assumenda officiis libero? Expedita est minus odit odio iusto.</p>
    
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa modi voluptatum ipsam veniam reprehenderit blanditiis magnam architecto, quisquam, sed vel alias assumenda officiis libero? Expedita est minus odit odio iusto.</p>

    <%- include('partials/footer') %>