<%- include('partials/head') %>
<%- include('partials/navbar') %>

    <h1>Your randomm number is: <%= num %> </h1>
<% if(num % 2 === 0){ %> </p>
     <p>This number is even. </p>
    <% } else { %>
        <p>This number is False. </p>
        <% } %>  

        
<%- include('partials/footer') %>